<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<link href="css/styles.css" rel="stylesheet" />
<title>Spring Boot Application</title>
</head>
<body>
	<h1>Welcome to Thymeleaf Spring Boot web application</h1>
	<h1 th:text="#{welcome.text}"></h1>
</body>
</html>